
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300' 
	rel='stylesheet' type='text/css'>
	<style>
	      h2 {
  color: white; 
  }
  p {
  color: white;
  }
	</style>
<h2>Tweets!</h2>

<% @tweets.each do |tweet| %>
  <p><strong><%= tweet.user.username %>:</strong> <%= tweet.status %></p>
<% end %>





